<img src="assets/Images/chase.jpg"
    width="250"
    height="300"
    class="center"/>
<p style="text-align:center">Chase Carthen is currently seeking a PhD in computer science at the University of Nevada, Reno where he is presently employed as a software engineer for the Office of Information Technology (OIT). He has worked two years for Bently Nevada a small company under General Electric (GE). His present research interests are cyber-infrastructure and machine learning. Presently, he has a masters degree and a bachelors degree in computer science. </p>
<img src="assets/Images/ChrisCS791.PNG"
    width="250"
    height="300"
    class="center"/>
    
<p style="text-align:center">Chris Lewis is currently seeking a masters degree in computer science at the University of Nevada, Reno where he is presently employed as a research assistant and teaching assistant. His present research interests are data visualizations, graphical simulations, and virtual reality. Presently, he has a bachelors degree in computer science from the University of Nevada, Reno.</p>