<body>

    <div class="container" >
        <div class="center" style="width:800px; margin:0 auto;" id="Graph" #Graph></div>
    </div>
</body>
<div class='input-group'>
  <span class="input-group-text">X Axis</span>
  <select class="form-select"  [(ngModel)]="xLabel">
    <option *ngFor="let label of metrics"  >{{label}}</option>
  </select>
</div>
<div class='input-group'>
  <span class="input-group-text">Y Axis</span>
  <select class="form-select"  [(ngModel)]="yLabel">
    <option *ngFor="let label of metrics"  >{{label}}</option>
  </select>
</div>

<div class='input-group'>
  <span class="input-group-text">Dataset ID</span>
  <select class="form-select"  [(ngModel)]="datasetID">
    <option *ngFor="let dataset of datasets" [value]='dataset[0]'  >{{dataset[1]}}</option>
  </select>
</div>

<button type="button" class="btn btn-primary" (click)="clicked()" >Test Button</button>

