@import "~bootstrap/dist/css/bootstrap.css";

.widthdivider{
    width:10px;
    height:auto;
    display:inline-block;
}
.nav-pills>li+li {
    margin-left: 4px; 
}

.navbar {
    background-color:rgba(238, 192, 76, 0.979);
}