@import "~bootstrap/dist/css/bootstrap.css";

.widthdivider{
    width:10px;
    height:auto;
    display:inline-block;
}
.nav-pills>li+li {
    margin-left: 4px; 
}

.navbar {
    background-color:rgba(235, 163, 55, 0.979);
}
.rightJustified {
    float: right;
    color: white;
}